<nav class="navbar">
    <ul class="nav">
    <li class="nav-item">
        <a class="nav-link " href="#"><h1>WebShare</h1></a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="{% url 'home' %}">Acceuil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:index' %}">Cours</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">A propos de</a>
    </li>
    </ul>    
</nav>
